**/bin/
**/obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
node_modules/
**/appsettings.develop.json
**/Log/

*.txt

**/build/
builds/
cache/
pack/
publish/
**/mono_crash*
reports/content/data/storage/

**/logs/
logs/
temp-keys/
